<div class="container pt-4">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Agregar Empleado</h3>
                    <form>
                        <div class="row">
                            <div class="col">
                                <input class="form-control form-control-lg" type="text" name="" id="" placeholder="Nombre">
                            </div>
                            <div class="col">
                                <input class="form-control form-control-lg" type="text" name="" id="" placeholder="Apellido">
                            </div>
                        </div>
                        <input type="text" class="form-control form-control-lg mt-3" placeholder="Documento">
                        <input type="number" class="form-control form-control-lg mt-3" placeholder="Salario">
                        <div class="mt-3">
                            <button type="button" class="btn btn-secondary btn-lg" style="margin-right: 6px;" routerLink="/list-empleados">Volver</button>
                            <button type="submit" class="btn btn-dark btn-lg">Agregar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>