<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Listado de empleados</span>
            <div class="float-md-right">
                <button class="btn btn-dark btn-lg float-right" routerLink="/create-empleado"><span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                    <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                  </svg></span> Agregar</button>
            </div>
            <table class="table table-striped mt-5">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Documento</th>
                    <th>Salario</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Edwin</td>
                    <td>Vásquez</td>
                    <td>1677682040101</td>
                    <td>2500</td>
                    <td>
                        <i class="fas fa-edit fa-lg text-info mr-4"></i>
                        <i class="fas fa-trash-alt fa-lg text-danger"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Sandy</td>
                    <td>Saregure</td>
                    <td>1725253320101</td>
                    <td>1500</td>
                    <td>
                        <i class="fas fa-edit fa-lg text-info mr-4"></i>
                        <i class="fas fa-trash-alt fa-lg text-danger"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Allan</td>
                    <td>Vásquez</td>
                    <td>1234567890101</td>
                    <td>1000</td>
                    <td>
                        <i class="fas fa-edit fa-lg text-info mr-4"></i>
                        <i class="fas fa-trash-alt fa-lg text-danger"></i>
                    </td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>